# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


#BACKEND
#node
BACKEND/node/expressjs/node_modules
BACKEND/node/expressjs/package-lock.json

BACKEND/node/hapi/node_modules
BACKEND/node/hapi/package-lock.json

BACKEND/node/molecule/node_modules
BACKEND/node/molecule/package-lock.json

BACKEND/node/todo-metor
